<div>
  <h1>Welcome to Keep-It</h1>
  <h4>keep your notes organized!</h4>
  <div class="form-group">
    <a class="btn btn-primary" href="/signup">Sign Up</a>
    <a class="btn btn-primary" href="/login">Log In</a>
  </div>
</div>