<form>
<label>Username</label>
	<input type="text" name="username"><br><br>
	<label>Password</label>
	<input type="pasword" name="password"><br><br>
	<input type="submit" name="submit" class="btn btn-primary">

	<div class="container">
  <div class="row">
    <div class="col-sm-2">
      One of three columns
    </div>
    <div class="col-sm-2">
      One of three columns
    </div>
    <div class="col-sm-2">
      One of three columns
    </div>

    <div class="col-sm-2">
      One of three columns
    </div>
    <div class="col-sm-2">
      One of three columns
    </div>
    <div class="col-sm-2">
      One of three columns
    </div>
  </div>
</div>
</form>